<table class="table schedule" style="max-width:100%">
    <tbody>

        {{- range .Site.Data.schedule }}
        {{- range . }}
        <tr
            class="{{- if .bottomborder }} section-bottom {{- end }}{{- if .header }} fake-header-table {{- end }}{{- if .bg }} schedule-bg-{{ .bg }} {{- end }}">
            <td align="right" style="width:20%;text-align:right">
                <strong>{{ .date }}</strong>{{- if and (.session) (.date) }}<br>{{- end }}{{- if .session }}
                <small>({{.session}})</small>{{- end }}</td>
            <td style="width:56%;text-align:left">{{ .title | markdownify }}</td>

            {{- if .header }}
            
            <td style="width:8%;text-align:center" class="mid-table-header">Lecture</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Reading</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Lab</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Homework</td>

            {{- else }}
            
            {{- if .lecture }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/material/lectures/{{ .lecture }}/">
                    <i class="fas fa-users fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-users fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .reading }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/material/readings/{{ .reading }}/">
                    <i class="fas fa-book-reader fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-book-reader fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .lab }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/assignment/lab/{{ .lab }}/">
                    <i class="fas fa-laptop-code fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-laptop-code fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .homework }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/assignment/hw/{{ .homework }}/">
                    <i class="fas fa-pencil-ruler fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-pencil-ruler fa-lg"></i></font>
            </td>
            {{- end }}

            {{- end }}
        </tr>
        {{- end }}
        {{- end }}

    </tbody>

</table>
